<ion-header>
  <ion-toolbar>
    <ion-title>satici</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="camera"></div><br/>




  <ion-card>
    <img *ngIf="imageURL" src="https//ucarecdn.com/{{imageURL}}/" />
    <ion-card-content>
      <ion-textarea placeholder="Fiyat ve Özellikleri Belirtiniz" [(ngModel)]="aciklama" ></ion-textarea>
      <ion-button shape="round"color="primary" (click)="postOlustur()" >POST</ion-button>

    </ion-card-content>
  </ion-card>
  
  
  

 
</ion-content>
